@import "set";

.mainTitle {
  font-family: "Noto Serif TC", serif;
  font-size: 6rem;
  font-weight: 700;
  @include mobile {
    font-size: 10vw;
  }
}
.content {
  .flex {
    margin-top: 100px;
    display: flex;
    gap: 50px;
    .photo {
      width: 400px;
      img {
        width: 100%;
      }
    }
    .textBox {
      .title {
        font-size: 2rem;
        margin-bottom: 20px;
      }
      .text {
        font-size: 1.2rem;
      }
    }
  }
}
