@import "set";
section.content {
  .mainTitle {
    font-size: 6.9vw;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 5vw;
    @include mobile {
      font-size: 10vw;
    }
    .cursor::after {
      content: "|";
      animation: blink 0.7s infinite;
    }
    .done .cursor::after {
      content: "";
      animation: none;
    }
    @keyframes blink {
      0%,
      50% {
        opacity: 1;
      }
      50.01%,
      100% {
        opacity: 0;
      }
    }
    div {
      font-family: "Noto Serif TC", serif;
      line-height: 1.3em;
    }
  }
  .subTitle {
    font-size: 1rem;
    font-family: "Noto Serif TC", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    line-height: 2rem;
    white-space: pre;
    .cursor::after {
      content: "|";
      animation: blink 0.7s infinite;
    }
    .done .cursor::after {
      content: "";
      animation: none;
    }
    @keyframes blink {
      0%,
      50% {
        opacity: 1;
      }
      50.01%,
      100% {
        opacity: 0;
      }
    }
  }
}
